:root {
  --clr-primary: #ff8a65; /* Rojo intenso */
  --clr-secondary: #ff8a65; /* Coral */
  --clr-background: #1d1d1d5d; /* Gris muy claro */
  --clr-text: #131313; /* Gris oscuro */
  --clr-accent: #9e9e9e; /* Gris medio */
  --clr-button: #ff8a65; /* Naranja claro */
  --clr-button-hover: #e64a19; /* Naranja oscuro */
  --clr-form: #ffffff; /* Blanco */
  --clr-list-item: #ffffff; /* Blanco */
  --clr-list-item-shadow: rgba(0, 0, 0, 0.2); /* Sombra de los elementos de la lista */
  --clr-toggle-off: #b0bec5; /* Gris claro */
  --clr-toggle-on: #ff5722; /* Naranja intenso */
  --clr-toggle-thumb: #ffffff; /* Blanco (color del botón del toggle) */
  --clr-input-border: #e0e0e0; /* Gris claro */
  --clr-input-label: #757575; /* Gris oscuro */
  --clr-input-label-focus: #333333; /* Gris oscuro */
  --clr-input-underline: #d32f2f; /* Rojo intenso */
}

/* General Styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-background);
  font-family: "Kanit", sans-serif;
  color: var(--clr-text);
  padding: 20px;
  border-radius: 10px;
}

div {
  position: relative;
}

/* Header Styles */
header {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Content Styles */
.content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

/* Action Styles */
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Button Styles */
.add-button,
.custom-button {
  background-color: var(--clr-button);
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: #333333;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 1rem;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.5s;
}

.add-button:hover,
.custom-button:hover {
  background-color: var(--clr-button-hover);
}

/* Error Message Styles */
.custom-error-message, .error-message {
  background-color: var(--clr-secondary);
  color: var(--clr-text);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.custom-error-message.show, .error-message.show {
  opacity: 1;
  transform: translateY(0);
}

/* Form Styles */
.form-container {
  background-color: var(--clr-form);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* List Styles */
.list-container {
  margin-top: 20px;
}

.list-item {
  background-color: var(--clr-list-item);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--clr-list-item-shadow);
  margin-bottom: 10px;
}

.list-item h3 {
  margin-top: 0;
}

.list-item p {
  margin-bottom: 5px;
}

.list-item button {
  margin-left: 10px;
}

/* Toggle Switch Styles */
.toggle-switch {
  position: relative;
  width: 100px;
  height: 50px;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--clr-toggle-off);
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.checkbox {
  position: absolute;
  display: none;
}

.slider:has(.checkbox:checked) {
  background-color: var(--clr-toggle-on);
}

.icon {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--clr-toggle-off);
  box-shadow: inset 12px -4px 0px 0px #d8dbe0;
  transition: 0.4s ease;
}

.checkbox:checked + .icon {
  transform: translateX(50px);
  background-color: var(--clr-toggle-thumb);
  box-shadow: none;
}

/* Title Styles */
.app-title {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 40px;
  cursor: pointer;
}

.app-title .text {
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
  transition: 0.1s ease;
  transition-delay: 0.25s;
}

.app-title .hover-text {
  position: absolute;
  inset: 0;
  width: 0%;
  color: var(--clr-primary);
  overflow: hidden;
  border-right: 6px solid var(--clr-primary);
  transition: 0.5s ease-in-out;
}

.app-title:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 40px var(--clr-primary));
}

.app-title:hover .text {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0);
}

/* Input Styles */
.input-wrapper {
  position: relative;
  font-size: 18px; /* Aumentar el tamaño de la fuente del contenedor del input */
}

.input-wrapper input {
  all: unset;
  margin-top: .5rem;
  width: 98%;
  padding: 15px; /* Aumentar el padding del campo de entrada */
  border-radius: 5px; /* Añadir bordes redondeados */
  font-size: 18px; /* Aumentar el tamaño de la fuente dentro del campo de entrada */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.356); /* Agregar una sombra sutil */
  background-color: #ffffff4d;
}

.input-wrapper label {
  position: absolute;
  bottom: 15px; /* Ajustar la posición del label si es necesario */
  left: 0;
  color: var(--clr-input-label);
  pointer-events: none;
  transition: all 0.3s ease;
  font-size: 30px; /* Aumentar el tamaño de la fuente del label */
}

.input-wrapper input:is(:focus, :valid) ~ label {
  bottom: 100%;
  color: var(--clr-input-label-focus);
}

.input-wrapper > .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--clr-input-underline);
  scale: 0 1;
  transition: 0.3s;
}

.input-wrapper input:focus ~ .underline {
  scale: 1 1;
}

.total-propinas {
  margin-top: 2rem;
}

.box {
  background-color: var(--clr-background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.219);
  width: 100%;
}

.box-content {
  width: 100%;
}

